<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Automation for the People</title>
  </head>
  <body id="index.html">
    <h1>Automation for the People</h1>
  </body>
</html>